<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
    <ion-img src="/assets/DSC_7238.JPG" id="SFTS-image"></ion-img>
 
  <ion-card-header>
    <div text-center align-items-center>
    <ion-card-title>Andrew Tran</ion-card-title>
    <ion-card-subtitle>Who am I?</ion-card-subtitle>
    <br>
    <ion-button onclick="dissapearImg()" color="secondary" class="button-small">Make image dissapear!</ion-button>
    </div> 
  </ion-card-header>

  </ion-card>

</ion-content>
